div.header {
  margin: 5px;
  padding: 5px;
  border: solid 2px black;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: grab;
  target: _blank;
}
/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: gray;
}

/* selected link */
a:active {
  color: gray;
}

div.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  text-align: center;
}

div.column1 {
  border: solid 2px black;
  padding: 5px;
  margin: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
}

div.grid-container2 {
  display: grid;
  grid-template-columns: 300px auto;
}

div.column2 {
  border: solid 2px black;
  padding: 5px;
  margin: 5px;
  height: 470px;
  text-align: center;
}

div.column3 {
  border: solid 2px black;
  padding: 20px;
  margin: 5px;
  height: 440px;
}
