/* -------------------link tag --------------------*/
a {
  text-decoration: none;
  cursor: grab;
}

a:link {
  color: #487e95;
}

a:visited {
  color: #487e95;
}

a.bar_link:hover {
  display: block;
  padding: 0px;
  color: #e7e6e1;
}

a.contents_item_link:hover {
  background: #e7e6e1;
  border-radius: 0;
  display: block;
  margin: 0;
  color: #184d47;
}

a:active {
  color: gray;
}

a.current_link {
  background: #e7e6e1;
  border-radius: 0;
  display: block;
  margin: 0;
  color: #184d47;
}

a.bar_link {
  line-height: 4.2;
}

/* ------------------------------------------------------ */
body {
  background-color: white;
  color: #487e95;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  font-weight: bold;
}

/* ----------------------Button ----------------------*/
button.button_NightandDay {
  position: fixed;
  right: 80px;
  bottom: 100px;
  border: solid 2px;
  padding: 10px 10px 10px;
  background-color: white;
  color: #28527a;
  margin: auto;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
}

button.btn_site {
  border: none;
  background-color: white;
  color: #487e95;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

button.btn_site:hover {
  cursor: grab;
}

/* ----------------div----------------- */
div.index-container {
  border: 1px solid white;
  background-color: #e4fbff;
  text-align: center;
  padding: 40px;
  width: 800px;
  margin: 30px auto;
}

div.header {
  padding: 5px;
  border-bottom: none;
  text-align: center;
  position: relative;
}

div.middle-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 50px;
  height: auto;
}

div.bottom-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

div.bar {
  position: relative;
  top: 0;
  display: grid;
  grid-template-columns: 500px auto 80px 80px 80px 80px 80px 100px;
  text-align: center;
  border-bottom: solid 2px gray;
  margin: 0;
  background-color: #e4fbff;
  font-size: 90%;
  height: 60px;
}

div.bar_item {
  border: none;
  width: 80px;
  padding: 0;
  margin: auto;
}

div.contents {
  display: grid;
  grid-template-columns: 200px auto;
}

div.contents_item {
  border-right: solid 2px gray;
  padding: 0px;
  margin: 15px 5px 5px 5px;
  height: 800px;
  text-align: center;
}

div.contents_description {
  padding: 20px;
  margin: 5px;
  height: 440px;
}

/* ----------------------Modal---------------------- */
/* The Modal (background) */
div.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
div.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* ---------------------------heading----------------------------*/
h1 {
  color: #487e95;
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 70px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Gamja Flower', cursive;
}

h1:hover {
  color: #78c4d4;
}

h2 {
  text-align: left;
}

hr {
  border: 10px dotted;
  border-top: 0;
  display: inline-block;
  width: 200px;
  margin-top: 100px;
  color: #dddddd;
}

/* ----------------Image---------------- */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
}

img.HI-GMP-Suna1 {
  height: 40px;
  width: 40px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 17px;
  border-radius: 40px;
}

img.suna2 {
  height: 200px;
  width: 200px;
  display: block;
  border: solid 2px white;
  border-radius: 1000px;
}

img.children {
  padding: 0 40px 0 100px;
}

img.indeximage {
  width: 200px;
  height: 200px;
  margin: 0;
  display: inline;
}

img.baby {
  width: 300px;
  height: 300px;
}

li {
  padding-bottom: 4px;
}

p.index-contents {
  text-align: left;
  display: block;
  margin: 0;
  width: auto;
  padding-right: 100px;
}

/* ---------------Span ------------------------ */
/* ---------------The Close Button--------------- */
span.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

span.close:hover,
span.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

span.index_description {
  color: #78c4d4;
}

ul.contents_item_linkcontainer {
  item-style-type: none;
  padding: 0;
}

/* ------------------ID------------------ */
#BUTTON_ORG {
  border: 1px solid white;
  border-radius: 40px;
  padding: 10px;
  background-color: #387c6d;
  color: white;
}

#BUTTON_ORG:hover {
  padding: 13px;
  background-color: #7eca9c;
}

#higmp {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
  margin: 5px;
  height: 440px;
}

#current_bar_link {
  background: #78c4d4;
  border-radius: 0;
  display: block;
  margin: 0;
  color: white;
}

/* ----------------Media--------------------- */
@media only screen and (max-width: 700px) {
  .contents_item {
    display: none;
  }

  div.contents {
    display: grid;
    grid-template-columns: auto;
    padding: 50px;
  }
}
