/* -------------------link tag --------------------*/
a {
  text-decoration: none;
  cursor: grab;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a.navbar_link:hover {
  display: block;
  padding: 0px;
  color: #e7e6e1;
}

a.contents_item_link:hover {
  background: #e7e6e1;
  border-radius: 0;
  display: block;
  margin: 0;
  color: #184d47;
}

a:active {
  color: gray;
}

a.current_link {
  border-radius: 0;
  display: block;
  margin: 0;
  color: gray;
}

a.navbar_link {
  line-height: 3;
}

/* ------------------------------------------------------ */
body {
  background-color: #f3f4ed;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  font-weight: bold;

}

/* ----------------------Button ----------------------*/
button.button_NightandDay {
  position: fixed;
  right: 80px;
  bottom: 100px;
  border: solid 2px;
  padding: 10px 10px 10px;
  background-color: white;
  color: #28527a;
  margin: auto;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
}

button.btn_site {
  border: none;
  background-color: white;
  color: #487e95;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

button.btn_site:hover {
  cursor: grab;
}

/* ----------------div----------------- */
div.index-container {
  border: 1px solid white;
  text-align: center;

  margin:  0;
}
div.top-container {
  background-color: #a3d2ca;
  color: white;
  padding: 20px 200px;
}
div.middle-container {

  margin-top: 50px;
  height: auto;
}

div.bottom-container {
  margin-top: 50px;
  margin-bottom: 50px;
}


div.navbar {

  text-align: center;
  margin: 0;
  background-color: white;
  font-size: 90%;
  height: 60px;
}
div.HI-GMP {
  display: inline-block;

}
div.navbar_item_container {
  display: inline-block;
  float: right;
  margin: 10px 50px 0 0;
}
div.navbar_item {
  text-align: center;
  border: none;
  width: 70px;
  padding: 0;
  margin: 0;
  display: inline-block;
}
div.dropdown-content-container {
  display: none;

}
div.dropdown-content{
  background-color: #fefefe;
  margin: 0;
  padding: 5px;
  border: 1px solid #888;
  width: 90%;
  font-size: 1px;

}
div.contents {
  display: grid;
  grid-template-columns: 200px auto;
}

div.contents_item {
  background-color: #f3f4ed;
  padding: 20px;
  margin:15px;
  height: 800px;
  text-align: center;
}

div.contents_description {
  background-color: white;
  padding: 20px;
  margin: 15px 5px;
  height: auto;
}
div.contents_description_picture {

}

/* ----------------------Modal---------------------- */
/* The Modal (background) */
div.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
div.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* ---------------------------heading----------------------------*/
h1 {
  color: Black;
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 70px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Gamja Flower', cursive;
}
h1.h1_index {
  color: white;
  display: inline-block;
}

h1:hover {
  color: #f3f4ed;
}

h2 {
  text-align: left;
}


/* ----------------Image---------------- */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
}

img.HI-GMP_sm {
  height: 40px;
  width: 40px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 17px;
  border-radius: 40px;
}

img.suna2 {
  height: 200px;
  width: 200px;
  display: block;
  border: solid 2px white;
  border-radius: 1000px;
}

img.children {

}

img.indeximage {
  width: 200px;
  height: 200px;
  margin: 0;
  display: inline;
}

img.baby {
  width: 200px;
  height: 200px;
  padding:50px;
}

li {
  padding-bottom: 4px;
}

p.index-contents {
  text-align: left;
  display: block;
  margin: 0;
  width: auto;
  padding-right: 100px;
}

/* ---------------Span ------------------------ */
/* ---------------The Close Button--------------- */
span.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

span.close:hover,
span.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

span.index_description {
  color: black;
}

ul.contents_item_linkcontainer {
  list-style: none;

  padding: 0;
}

/* ------------------ID------------------ */
#BUTTON_ORG {
  border: 1px solid white;
  border-radius: 40px;
  padding: 10px;

  background-color: #a3d2ca;
  color: #eeebdd;
  height: 30px;
}

#BUTTON_ORG:hover {
  padding: 13px;
  background-color: #7eca9c;
}

#higmp {
  display: grid;
  grid-template-columns: auto auto;

}

#current_navbar_link {

  border-radius: 0;
  display: block;
  margin: 0;
  color: gray;
}
#dropbtn {
  display: none;
  background-color: white;
  border:none;
  color: #487e95;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12  0%;
  font-weight: bold;
  line-height: 3;
  margin:0;
  padding-left: 20px;
}
#up {
  display: none;
}
/* ----------------Media--------------------- */
@media only screen and (max-width: 900px){
  .contents_item {
    display: none;
  }

  div.contents {
    display: grid;
    grid-template-columns: auto;
    padding: 50px;
  }
  div.contents_description_text {

  }
  /* #dropbtn {
    display: block;
}

a.navbar_link {
  display: none;
  margin: 10px;
}
#current_navbar_link {
  display: none;
}
} */

@media only screen and (min-width: 900px){
  /* #dropbtn, #dropdown-container{
    display: none;
}
.navbar_link {
  display: block;
}
#current_navbar_link {
  display: block;
}
} */
}
@media only screen and (max-width: 580px){
  .hide {
    display: none;
  }
}
@media only screen and (max-width: 800px){
  #higmp {
    display: block;
  }
}
